app-recipe-item.active {
  background: #ddd !important;
}


/* #hero{
  display: none;
}
@media (max-width :992px){
  #hero{
    display: block;
  }
} */

.left,
.right {
  display: inline-block;
}

.right {
  margin-left: auto;
}
