<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="recipes" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shoppinglist" routerLinkActive="active">shopping
            list</a>
        </li>



      </ul>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown" appDropdown>
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">manage </a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">save Data</a>
            <a class="dropdown-item" href="#">Fetch Data</a>
          </div>
        </li>

      </ul>



    </div>
  </div>
</nav>
