<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="">
        search in recipes
      </label>
      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="search in recipes"
        [(ngModel)]="searchValue">
    </div>
  </div>
</div>
<div class="row">
  <h1>{{'Async Date' | newPipe}}</h1>
  -- {{ayncData |async}}
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-lg-4" *ngFor="let recipe of recipes | filterText: searchValue; index as in "
        [routerLink]="['/recipes',in]">
        <app-recipe-item [recipeitem]="recipe" routerLinkActive="active"></app-recipe-item>
      </div>
    </div>

    <!-- <app-recipe-list></app-recipe-list> -->
  </div>
  <div class="col-md-4">

    <!-- hoa 3l4aan yfhm 2n dh tb3 l children lazm l router outelt ykon goa l component bta3y -->
    <router-outlet></router-outlet>
  </div>
</div>
