<div class="card" *ngIf="recipeDetail">
  <img class="card-img-top" [src]="recipeDetail.imgPath" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{recipeDetail.name}}</h5>
    <p class="card-text">{{recipeDetail.description}}</p>
  </div>

  <ul *ngFor="let ingredient of recipeDetail.ingrediants">
    <li>
      {{ingredient.name}}== {{ingredient.amount}}
    </li>
  </ul>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="addToCart(recipeDetail)">to Shopping List</button>
    <a [routerLink]="['/recipes',recipeDetailId,'edit']" routerLinkActive="router-link-active" type="button"
      class="btn btn-secondary">Edit
      Recipe</a>
    <button type="button" class="btn btn-secondary" (click)="deleteRecipe(recipeDetailId)">Delete Recipe</button>
  </div>

</div>

<a [routerLink]="['/recipes','new']" routerLinkActive="router-link-active" class="btn btn-primary">add New Recipe</a>
