/* You can add global styles to this file, and also import other style files */

.open>.dropdown-menu {
  display: block;
}

.form-control.ng-invalid.ng-touched {
  border: 2px solid red;
  color: red;
}

.error-span {
  color: red;
}
