<div class="container">
  <p appAppHighlight [hoverColor]="'red'">footer works!</p>
  <h1 #myh1>hello from foooter </h1>

  <div *appUnless="isFalse">unless</div>
  <ul [ngSwitch]="letter">
    <li *ngSwitchCase="'a'">apple</li>
    <li *ngSwitchCase="'b'">banana</li>
    <li *ngSwitchCase="'c'">cat</li>
    <li *ngSwitchDefault>other...</li>
  </ul>
</div>
<!-- m-brand__icon
m-brand__toggler
m-brand__toggler--left
m--visible-desktop-inline-block


m-brand__icon
m-brand__toggler
m-brand__toggler--left
m--visible-desktop-inline-block
m-brand__toggler--active" -->

<!--#m_aside_left m-aside-left--on -->
